/* pages/sub-category/sub-category.wxss */

page {
  background: #f4f4f4;
}

.category-tit {
  width: 100%;
  white-space: nowrap;
  position: fixed;
  top: 0px;
  z-index: 999;
  background-color: #fff;
  border-bottom: 2rpx solid #f4f4f4;
  font-size: 30rpx;
}

.category-tit .category-item {
  display: inline-block;
  padding: 20rpx 10rpx;
  margin: 0 20rpx;
  box-sizing: border-box;
  font-size: 28rpx;
}

.prod-item {
  margin-top: 100rpx;
}

.on {
  border-bottom: 4rpx solid #e43130;
  color: #e43130;
}
/* 清除 scroll-view 滚动条 */
::-webkit-scrollbar {  
  width: 0;
  height: 0;
  color: transparent;
}
/* 列表为空 */
.empty {
  margin-top: 200rpx;
}

/* 商品列表 */
 .prod-items {
  width: 345rpx;
  display: inline-block;
  background: #fff;
  padding-bottom: 20rpx;
  box-sizing: border-box;
  box-shadow: 0rpx 6rpx 8rpx rgba(58,134,185,0.2);
}

.prod-items:nth-child(2n-1) {
  margin: 20rpx 10rpx 10rpx 20rpx;
}

.prod-items:nth-child(2n) {
  margin: 20rpx 20rpx 10rpx 10rpx;
}

.prod-items .hot-imagecont .hotsaleimg {
  width: 341rpx;
  height: 341rpx;
}

.prod-items .hot-text .hotprod-text {
  font-size: 28rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod-items .hot-imagecont {
  font-size: 0;
  text-align: center;
}

.prod-items .hot-text {
  margin-top: 20rpx;
  padding: 0 10rpx;
}

.prod-items .hot-text .prod-info, .more-prod .prod-text-right .prod-info {
  font-size: 22rpx;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod-items .hot-text .prod-text-info {
  position: relative;
  height: 70rpx;
  line-height: 70rpx;
  font-family: Arial;
}

.prod-items .hot-text .prod-text-info .hotprod-price {
  display: inline;
  font-size: 26rpx;
  color: #eb2444;
}

.prod-items .hot-text .prod-text-info .basket-img {
  width: 50rpx;
  height: 50rpx;
  position: absolute;
  right: 0;
  bottom: 7rpx;
  padding: 8rpx;
}