<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yami.shop.dao.PointsProdMapper">
  <resultMap id="BaseResultMap" type="com.yami.shop.bean.model.PointsProd">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="points_prod_id" jdbcType="BIGINT" property="pointsProdId" />
    <result column="points_id" jdbcType="BIGINT" property="pointsId" />
    <result column="points_number" jdbcType="DOUBLE" property="pointsNumber" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="prod_id" jdbcType="BIGINT" property="prodId" />
    <result column="stocks" jdbcType="INTEGER" property="stocks" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="upper_shelf_time" jdbcType="TIMESTAMP" property="upperShelfTime" />
    <result column="lower_shelf" jdbcType="TIMESTAMP" property="lowerShelf" />
  </resultMap>
</mapper>