/* pages/prod-classify/prod-classify.wxss */

page {
  background: #fff;
}

.container {
  margin: 7px;
}

.line-fix {
  width: 100%;
  height: 2rpx;
  background: #e1e1e1;
  position: fixed;
  top: 0;
}

.tit-background {
  width: 100%;
  height: 20rpx;
  background: #f4f4f4;
}

.prod-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ç©º */
.empty {
  display: block;
  width: 100%;
  font-size: 26rpx;
  color: #999;
  margin-top: 20vh;
  text-align: center;
}
